#dashboard-wrapper{
    height: 100%;
    width: 100%;
}

.dashboard-list-container{
    margin: auto;
    width: 80%;
    height: 90%;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;

}

.dashboard-list-container>div {
    margin: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 20px auto;
    font-size: 35px;
    border: 5px solid rgb(74, 139, 203);
    display: block;
}

#add{
    position:absolute; 
    left:30%; 
    padding: 10px;
    margin: 15px;
    background-color: #2d2626;
    color: white;
}   

#submit{
    position:absolute; 
    right:30%; 
    padding: 10px;
    margin: 15px;
    background-color: #2d2626;
    color: white;
}   
