.App {
  text-align: center;
}

.App-header {
  height: 3rem;
  width: 50vw;
}
.logo-wrapper {
  height: 100%;
  width: 15%;
  margin: .5rem;
  align-items: center;
  justify-content: center;
}
.route-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
}

.general-button {
  border: none;
  border-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #5d5151;
}

.general-button:hover {
  background: #aca6a6;
}
.general-button:active {
  background: #4c3131;
}

.button-add {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2rem;
}

.submit {
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
